<div ng-controller="NewsletterStudio.Plugins.Mailjet.SettingsController as pVm" ng-init="pVm.init(vm)">
    <label class="control-group ns-label-full">
        <span>
            API Key
            <small>Enter API-key for Mailjet</small>
        </span>
        <span>
            <input name="mj_apiKey" type="text" ng-model="vm.model.emailServiceProvider.settings.mj_apiKey" required="" />
            <ns-validation-error for="mj_apiKey" alias="required" key="ns_validationRequired"></ns-validation-error>
        </span>
    </label>
    <label class="control-group ns-label-full">
        <span>
            API Secret
            <small>Enter secret for Mailjet API</small>
        </span>
        <span>
            <input name="mj_apiSecret" type="text" ng-model="vm.model.emailServiceProvider.settings.mj_apiSecret" required="" />
            <ns-validation-error for="mj_apiSecret" alias="required" key="ns_validationRequired"></ns-validation-error>
        </span>
    </label>
    <label class="control-group ns-label-full">
        <span>
            Sandbox Mode
            <small>Check to activate Mailjet Sandbox mode</small>
        </span>
        <span>
            <input type="checkbox" ng-model="vm.model.emailServiceProvider.settings.mj_sandboxMode" />
        </span>
    </label>

    <h3>Setting up bounce management</h3>
    <p>You can setup bounce management using Mailjet Webhooks. With this activated Mailjet will send webhooks to update your contact list based on any bounces.</p>
    <div ng-if="pVm.data.isBaseUrlLocalhost">
        <p>This only works when the configured Base Url for the workspace is a public accessible URL (eg. not localhost).</p>
    </div>
    <div ng-if="!pVm.data.isBaseUrlLocalhost">
        <p>There is two ways to activate this:</p>
        <h5>Automatic configuration</h5>
        <p>
            If the API key and secrets are configured we can configure the webhooks via Mailjet's API. Press the button to update the configuration.
        </p>
        <button ng-click="pVm.configureNow()" type="button">Configure now</button>
        <h5>Manual configuration</h5>
        <p>
            Login to Mailjet and go to settings, click on Event notifications (webhook) (<a href="https://app.mailjet.com/account/triggers" target="_blank">link</a>).<br />
            Enter the following URL for the Bounce, Spam and Blocked-events:
        </p>
        <pre>{{pVm.data.webhookUrl}}</pre>
    </div>
    

</div>